{{!< default}}
<footer id="footer">
  <section class="colophon">
    <section class="copyright">
      2016 Copyright © <span itemprop="copyrightHolder"><strong>{{@blog.title}}</strong></span>. <span rel="license">All Rights Reserved</span>.
    </section>
    <img src="/assets/branruz-logo-small.png" alt="BranRuz" style="display: inline;"/>
    Thème <a href="https://github.com/yed30/sweetbrz" target="_blank title="SweetBRZ">SweetBRZ</a>
  </section>
</footer>
