<nav class="navbar navbar-fixed-top navbar-light top" style="background-color: white;">
  <div class="container">
     <div class="pull-xs-left">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
           &#9776;
        </button>
      </div>
    <a class="navbar-brand blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
    {{navigation}}
    <div class="pull-xs-right">
    <a href="#" id="sbrzFacebook" target="_blank" alt="Facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" id="sbrzTwitter" target="_blank" alt="Twitter"><i class="fa fa-twitter"></i></a>  

<a href="#" id="sbrzDribbble" target="_blank title="Dribbble"><i class="fa fa-dribbble"></i></a>
<a href="#" id="sbrzPinterest" target="_blank" title="Pinterest"><i class="fa fa-pinterest-p"></i> </a>
<a href="#" id="sbrzVimeo" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i> </a>
<a href="#" id="sbrzDropbox" target="_blank" title="Dropbox"><i class="fa fa-dropbox"></i> </a>
<a href="#" id="sbrzWechat" target="_blank" title="Wechat"><i class="fa fa-weixin"></i> </a>
<a href="#" id="sbrzYoutube" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a>
    
<a target="_blank" href="#" title="LinkedIn" id="sbrzLinkedin"><i class="fa fa-linkedin"></i></a>
<a target="_blank" href="#" title="Google Plus" id="sbrzGoogleplus"><i class="fa fa-google-plus"></i></a>
<a target="_blank" href="#" title="Github" id="sbrzGithub"><i class="fa fa-github-alt fa"></i></a>
<a target="_blank" href="{{@blog.url}}/rss" title="Feeds"><i class="fa fa-rss"></i></a>
<a role="button" id="sbrzPay" target="_blank" href="#" class="btn btn-primary-outline"></a>
    </div>
  </div>
</nav>
