{{!< default}}
<div class="post-image-container" style="background-image: url({{@blog.cover}})">
      <div class="post-image-filter">
        <div class="text-xs-center post-info">
          <h1 class="post-title animated fadeInUp">{{@blog.title}}</h1>
          <span><h3>{{@blog.description}}</h3></span>
        </div>
      </div>
</div>

{{>loop}}

